


<div id="player">
</div>
    <script>
        flashembed("player", "/swf/FlowPlayerLight.swf", {

            config: {
                controlsOverVideo: 'ease', controlBarBackgroundColor: -1, showMenu: false,
                showScrubber: true, showVolumeSlider: true, controlBarGloss: 'none',
                showMuteVolumeButton: false, showFullScreenButton: true,
                useNativeFullScreen:true, initialVolumePercentage: 100, autoPlay: true,
                showMenu: false, progressBarColor1 : '#000', progressBarColor2: '#000',
                baseURL: 'http://www.danielcuberta.com/videos/videos/',
                videoFile: '<%= @video_file %>.flv',
                initialScale: 'fit'
            }
        });
    </script>