body {
    background-image: url('../images/aventuras/fondo.jpg');
    background-repeat: repeat;
    color: #fff;
    font-size: 10pt;
}

.container_16 { margin-top: 3em; margin-bottom: 2em; }

a { color: white; text-decoration: none; }

a:hover { color: gray; }

.hoverable { text-align: center; }
.hoverable a {   filter: alpha(opacity=60); opacity: 0.6;}

.semiop {filter: alpha(opacity=60); opacity: 0.6;}

.comments { clear:both; width: 420px; margin: 0px auto 2em auto; color: white; padding: 5em 0;
            filter: alpha(opacity=70); opacity: 0.7;}
.comments input[type=submit] {border: 1px solid white; background-color: white;
                              filter: alpha(opacity=60); opacity: 0.6;}
.comments input[type=submit]:hover {border: 1px solid white; background-color: white;
                                    filter: alpha(opacity=100); opacity: 1;}
.comments .comment {border-top: 1px solid white; margin-top: 5px;}
.comments h1 {margin-top: 100px; color: white; font-size: 120%;}
.comments .protect {display: none;}
.comments textarea {background-color: #151517; color: white; padding: 5px;
                    border: 1px solid white; color: white; width: 410px; height: 100px;}
.comments a:hover {color: white;}
.comments input[type=text] {background-color: #151517; border: 1px solid white; color: white; }
.email {margin-bottom: 0.5em;}