<% content_for :header do %>
  <style type="text/css">
    /*
  Copyright (c) 2008, Yahoo! Inc. All rights reserved.
  Code licensed under the BSD License:
  http://developer.yahoo.net/yui/license.txt
  version: 2.6.0
    */
    html{color:#000;background:#FFF;}body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,textarea,p,blockquote,th,td{margin:0;padding:0;}table{border-collapse:collapse;border-spacing:0;}fieldset,img{border:0;}address,caption,cite,code,dfn,em,strong,th,var{font-style:normal;font-weight:normal;}li{list-style:none;}caption,th{text-align:left;}h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:normal;}q:before,q:after{content:'';}abbr,acronym{border:0;font-variant:normal;}sup{vertical-align:text-top;}sub{vertical-align:text-bottom;}input,textarea,select{font-family:inherit;font-size:inherit;font-weight:inherit;}input,textarea,select{*font-size:100%;}legend{color:#000;}del,ins{text-decoration:none;}

    html {font-family: 'Times New Roman', 'Times', 'Garamond', sans-serif; background-color: #0d0d0d; color: #feeeb2;}
    #page {width: 1000px; margin: 10px auto;}
    #maquina {display: block; float: left;}
    #content {width: 500px; float: left;}
    h1 {display: block; text-indent: -1000px; overflow: hidden; width: 500px; margin-top: 30px;
        background: url('/images/reweb/headers.png') no-repeat;}
    h1#contacto {height: 50px; background-position: 0 -10px;}
    h1#venta {height: 90px; background-position: 0 -180px;}
    h1#conciertos {height: 100px; background-position: 0 -450px;}
    #mail {display: block; font-size: 30px; text-align: center; padding-bottom: 0em;}
    .venta {width: 100%; overflow: hidden;}
    .column {width: 45%; float: left; padding-right: 5%; text-align: right;}
    .column.right {width: 35%; text-align: left; padding-left: 5%; border-left: 1px solid #efefef;}
    .point {line-height: 1.4em; padding-bottom: 15px;}
    .point h2 {color: #fff7da; font-size: 110%;}
    .conciertos {text-align: center; margin-top: 20px; font-size: 120%; font-weight: lighter;}
    .conciertos p {margin: 10px 0;}
    .conciertos label {color: #fff7da;}
    .conciertos a {color: #feeeb2;}
  </style>
  <script type="text/javascript">
    $(window).load(function() {
      var location = document.location.toString();
      if (location.charAt(location.length - 1) == '/') {
        
      }
    });
  </script>
<% end %>

<div id="page">
  <a href="/entrada">
    <img id="maquina" src="/images/reweb/lamaquina.jpg" alt="las buenas noches en acción" />
  </a>
  <div id="content">
    <h1 id="contacto">Contacto</h1>
    <div id="mail">contacto@lasbuenasnoches.com</div>
    <h1 id="venta">Venta de discos</h1>
    <div class="venta">
      <div class="column">
        <div class="point">
          <h2>Traficantes de sueños</h2>
          c/ Embajadores 35, Local 6<br/>
          28012 Madrid<br/>
          Tlf: 91 532 09 28<br/>
        </div>
      </div>
      <div class="column right">
        <div class="point">
          <h2>La fuga librerías</h2>
          c/ Conde de Torrejón 4<br/>
          41003 Sevilla<br/>
          Tlf: 954 382 340
        </div>
        <div class="point">
          <h2>Librería La Araña</h2>
          c/ Amargura 8, Local A<br/>
          41003 Sevilla<br/>
          Tlf: 954 380 679
        </div>
      </div>
    </div>
    <h1 id="conciertos">Próximos conciertos</h1>
    <div class="conciertos">
      <p><label>6 de Julio</label> &#149;
        21:30h <a href="#">Unia, Universidad Int. Andalucia</a><br/>
        Lugar por determinar.<br/>
        Málaga
      </p>
      <p><label>8 de Julio</label> &#149;
        21h <a href="http://maps.google.com/maps?f=q&source=s_q&hl=es&geocode=&q=Plaza+Mayor,+Huercal+Overa,+Espa%C3%B1a+42987&sll=37.387772,-1.94197&sspn=0.012889,0.017273&ie=UTF8&hq=&hnear=Calle+Mayor,+04600+Hu%C3%A9rcal-Overa,+Almer%C3%ADa,+Andaluc%C3%ADa,+Espa%C3%B1a&ll=37.387754,-1.941833&spn=0.103113,0.138187&t=h&z=13">Huércal Olvera</a><br/>
        Plaza Mayor.<br/>
        Huércal Overa (Almería)
      </p>
      <p><label>9 de Julio</label> &#149;
        22:30h <a href="http://maps.google.com/maps?f=q&source=s_q&hl=es&q=Castillo+Guardias+Viejas,+04700+El+Ejido,+Almer%C3%ADa,+AL,+Espa%C3%B1a&sll=36.70207,-2.850446&sspn=0.013006,0.017273&ie=UTF8&cd=1&geocode=FXYHMAIdcoHU_w&split=0&doflg=ptk&hq=&hnear=Castillo+Guardias+Viejas,+04700+El+Ejido,+Almer%C3%ADa,+AL,+Espa%C3%B1a&ll=36.702008,-2.850266&spn=0.208097,0.276375&t=h&z=12">El Ejido</a><br/>
        Castillo de Guardias Viejas<br/>
        El Ejido (Almería)
      </p>
      <p><label>10 de Julio</label> &#149;
        22h <a href="http://maps.google.com/maps?f=q&source=s_q&hl=es&geocode=&q=Calle+del+Paseo+Mar%C3%ADtimo,+04770+Adra,+Espa%C3%B1a&sll=37.188455,-1.817728&sspn=0.006462,0.008637&doflg=ptk&ie=UTF8&hq=&hnear=Calle+del+Paseo+Mar%C3%ADtimo,+04770+Adra,+Almer%C3%ADa,+Andaluc%C3%ADa,+Espa%C3%B1a&ll=36.745229,-3.016133&spn=0.006499,0.008637&t=h&z=17">Adra</a><br/>
        Paseo Marítimo<br/>
        Adra (Almería)
      </p>
    </div>

    <div id="postload" style="display: none;">
      <img src="/images/reweb/fondo.jpg" alt="preload" />
      <img src="/images/reweb/aventuras1.png" alt="preload" />
      <img src="/images/reweb/aventuras4.png" alt="preload" />
      <img src="/images/reweb/cortinaL.png"  alt="preload" />
      <img src="/images/reweb/cortinaR.png"  alt="preload" />
      <img src="/images/reweb/videos1.png"  alt="preload" />
      <img src="/images/reweb/videos2.png"  alt="preload" />
      <img src="/images/reweb/conciertos1.png"  alt="preload" />
    </div>
  </div>
</div>