
<% content_for :header do -%>
  <style type="text/css">

    * {margin: 0; padding: 0;}

    #preload {width: 0px; height: 0px; position: fixed; left: 0; right: 0; overflow: hidden;}

    html, body {
      font-family: sans;
      width:100%; height:100%; overflow:hidden;
      background-color: #999999;
      color: gray;
    }

    #loading {
      font-family: monospace;
      position: fixed; top: 0; left: 0; padding: 0.5em 1em;
      color: yellow;
    }

    #center {position:absolute; z-index: 2;
             top: 50%; left: 50%; width: 0; height: 0; }

    #playground{
      position: relative; background: transparent url('/images/reweb/fondo.jpg') no-repeat;
      width: 1315px; height: 917px; margin-left: -657px; margin-top: -459px;
    }

    #playground div {display: block; text-indent: -1000px; position: absolute; overflow: hidden;}

    #aventuras {
      background: transparent url('/images/reweb/aventuras1.png') no-repeat;
      width: 498px; height: 271px; left: 200px; top: 200px;
    }

    #fondoaventuras {
      background: transparent url('/images/reweb/fondoaventuras.png') no-repeat;
      width: 415px; height: 194px; left: 38px; top: 36px;
      z-index: 100; overflow: hidden;
    }

    #fondoaventuras a {display: block; position: relative;
                       width: 100%; height: 100%;}

    #aventurasdomesticas {
      display: block; position: relative;
      background: transparent url('/images/reweb/aventuras4.png') 0 0 no-repeat;
      width: 415px; height: 194px; left: 0; top: 0;
    }

    #cortinaL {
      background: transparent url('/images/reweb/cortinaL.png') no-repeat;
      width: 184px; height: 194px; left: 0px; top: 0px; z-index: 200;
    }

    #cortinaR {
      background: transparent url('/images/reweb/cortinaR.png') no-repeat;
      width: 192px; height: 194px; left: 223px; top: 0px; z-index: 200;
    }

    #videos {
      position: absolute; background: transparent url('/images/reweb/videos1.png') no-repeat;
      width: 345px; height: 287px; left: 740px; top: 270px;
    }

    #tovideos {display: block; position: relative; width: 100%; height: 100%; left: 0; top: 0;}

    #videos.active {background: transparent url('/images/reweb/videos2.png') no-repeat;}



    #conciertos {
      position: absolute; background: transparent url('/images/reweb/conciertos1.png') no-repeat;
      width: 327px; height: 252px;left: 290px; top: 490px;
    }

    #lista {
      position: relative; display: block; width: 327px; height: 252px; color: white;
      left: 23px; top: 20px; z-index: 300; text-indent: 0; letter-spacing: 1px;
    }
    #lista.active {background: transparent url('/images/reweb/contacto.png') no-repeat;}

    #content {display: block; width: 260px; height: 200px;}

    #content h1 {font-size: 100%; font-weight: bold; margin-top: 10px;}
    #content p {font-size: 80%; margin: 1px 2px 3px 2px;}


  </style>

  <%= render :partial => 'entrada.js' %>


<% end -%>


<div id="preload" style="display: none;">
  <img src="/images/reweb/fondo.jpg" alt="preload" />
  <img src="/images/reweb/aventuras1.png" alt="preload" />
  <img src="/images/reweb/aventuras4.png" alt="preload" />
  <img src="/images/reweb/cortinaL.png"  alt="preload" />
  <img src="/images/reweb/cortinaR.png"  alt="preload" />
  <img src="/images/reweb/videos1.png"  alt="preload" />
  <img src="/images/reweb/videos2.png"  alt="preload" />
  <img src="/images/reweb/conciertos1.png"  alt="preload" />
</div>

<div id="loading">las buenas noches... cargando...</div>

<div id="center">
  <div id="playground" style="display: none;">
    <div id="aventuras">
      <div id="fondoaventuras">
        <div id="aventurasdomesticas" style="display: none;">&nbsp;</div>
        <div id="cortinaL">&nbsp;</div>
        <div id="cortinaR">&nbsp;</div>
        <a href="/aventuras">aventuras domésticas</a>
      </div>
    </div>
    <div id="conciertos">
      <a id="lista"  href="/contacto" />
    </div>
    <div id="videos"><a id="tovideos" href="/videos">videos</a></div>
  </div>
</div>