<div class="span-24">
  <div class="span-8">
    <%= link_to image_tag('aventuras/01lapalma.gif'), :controller => 'aventuras/cancion', :action => 'canciones' %>
  </div>
  <div class="span-8">
    <br/>
    <p>
      En la palma de tu mano yo<br/>
      Cuento mi destino como una canción<br/>
      Y en la palma de tu mano yo<br/>
      Guardo 3 deseos para el corazón<br/>
      En la palma de tu mano<br/>
      Guardas los misterios para algo mejor<br/>
      Y en la palma de tu mano<br/>
      Todos los caminos llevan a los dos<br/>
    </p>
    <p>
      Yo se que las historias vienen y van <br/>
      Será esta la noche en que todo cambiará <br/>
    </p>
  </div>
  <div class="span-8 last">
    <br/>
    <p>
      En la palma de tu mano<br/>
      Líneas y señales hablan de los dos<br/>
      Y en la palma de tu mano yo<br/>
      Escribo el destino como una canción<br/>
    </p>
    <p>
      Yo se que las historias vienen y van<br/>
      Será esta la noche en que todo encajará<br/>
    </p>
    <p>
      Palma de tu mano en mi palma<br/>
      de mi mano en tu palma de la<br/>
      Palma de tu mano en mi palma<br/>
      de mi mano en tu palma de la<br/>
    </p>
  </div>
</div>
<div class="span-24" style="margin-top: 3em; text-align: center;">
  <div class="span-12 hoverable">
    <%= link_to image_tag('aventuras/descargar.gif'), 'http://www.archive.org/download/LasBuenasNoches-AventurasDomsticas-01LaPalma/01LaPalma.mp3' %>
  </div>
  <div class="span-12 last">
    <embed src="http://www.archive.org/flow/FlowPlayerLight.swf" allowfullscreen="false" allowscriptaccess="always" quality="high" bgcolor="#141517" type="application/x-shockwave-flash" pluginspage="http://www.adobe.com/go/getflashplayer" flashvars="config={&quot;controlBarBackgroundColor&quot;:&quot;0x141517&quot;,&quot;loop&quot;:false,&quot;baseURL&quot;:&quot;http://www.archive.org/download/&quot;,&quot;showVolumeSlider&quot;:true,&quot;controlBarGloss&quot;:&quot;none&quot;,&quot;playList&quot;:[{&quot;url&quot;:&quot;LasBuenasNoches-AventurasDomsticas-01LaPalma/01LaPalma.mp3&quot;}],&quot;showPlayListButtons&quot;:true,&quot;usePlayOverlay&quot;:false,&quot;menuItems&quot;:[false,false,false,false,true,true,false],&quot;initialScale&quot;:&quot;scale&quot;,&quot;autoPlay&quot;:false,&quot;autoBuffering&quot;:false,&quot;showMenu&quot;:false,&quot;showMuteVolumeButton&quot;:true,&quot;showFullScreenButton&quot;:false}&amp;" height="28px" width="350px"></embed>
  </div>
</div>


