<div class="span-24">
  <div class="span-8">
  <%= link_to image_tag('aventuras/02manuela.gif'), :controller => 'aventuras/cancion', :action => 'canciones' %>
</div>
<div class="span-8">
  <br/>
  <p>
    El viejo dice la vio pasar<br/>
    Por la vereda del limonar<br/>
  </p><p>
    Sus pasos guardan lo que vendrá<br/>
    Ella se marcha por no llegar<br/>
  </p><p>
    Manuela<br/>
    donde irá<br/>
  </p><p>
    Que lleva el agua Que llega al mar<br/>
    Donde el camino vuelve a empezar<br/>
    Hay algún sitio donde acabar<br/>
    Si su destino es caminar<br/>
  </p>
</div>
<div class="span-8 last">
  <br/>
  <p>
    Manuela<br/>
    donde irá<br/>
  </p>
  <p>

    Que lleva el agua que llega al mar<br/>
    Donde el camino vuelve a empezar<br/>
    Hay algún sitio donde acabar<br/>
    Si su destino es caminar<br/>
  </p>
  <p>
    Manuela<br/>
    donde irá<br/>
  </p><p>
    El viejo dice la vio pasar<br/>
    Por la vereda del limonar<br/>
  </p>
</div>
</div>
<div class="span-24" style="margin-top: 3em; text-align: center;">
  <div class="span-12">
    <%= link_to image_tag('aventuras/descargar.gif'), 'http://www.archive.org/download/LasBuenasNoches-AventurasDomsticas-02Manuela/02Manuela.mp3' %>
  </div>
  <div class="span-12 last">
    <embed src="http://www.archive.org/flow/FlowPlayerLight.swf" allowfullscreen="true" allowscriptaccess="always" quality="high" bgcolor="#141517" type="application/x-shockwave-flash" pluginspage="http://www.adobe.com/go/getflashplayer" flashvars="config={&quot;controlBarBackgroundColor&quot;:&quot;0x141517&quot;,&quot;loop&quot;:false,&quot;baseURL&quot;:&quot;http://www.archive.org/download/&quot;,&quot;showVolumeSlider&quot;:true,&quot;controlBarGloss&quot;:&quot;none&quot;,&quot;playList&quot;:[{&quot;url&quot;:&quot;LasBuenasNoches-AventurasDomsticas-02Manuela/02Manuela.mp3&quot;}],&quot;showPlayListButtons&quot;:true,&quot;usePlayOverlay&quot;:false,&quot;menuItems&quot;:[false,false,false,false,true,true,false],&quot;initialScale&quot;:&quot;scale&quot;,&quot;autoPlay&quot;:false,&quot;autoBuffering&quot;:false,&quot;showMenu&quot;:false,&quot;showMuteVolumeButton&quot;:true,&quot;showFullScreenButton&quot;:false}&amp;" height="28px" width="350px"/>
  </div>
</div>
