<div class="span-24">
  <div class="span-8">
    <%= link_to image_tag('aventuras/03bingo.gif'), :controller => 'aventuras/cancion', :action => 'canciones' %>
  </div>
  <div class="span-8">
    <br/>
    <p>
      Bingo suena, bingo de tu amor<br/>
      Bingo juegas, al caballo ganador<br/>
      Bingo, suena la suerte de esta canción<br/>
    </p>
    <p>
      5 gotas y el vaso sin rebosar<br/>
      8 pasos y el barranco está al final<br/>
      13 veces vi salir el numero fatal<br/>
    </p>
    <p>
      tú jugabas y en tus manos el fuego cantaba<br/>
      que este es el final<br/>
      del juego<br/>
    </p>
    <p>
      Bingo ...<br/>
    </p>



  </div>
  <div class="span-8 last">
    <br/>
    <p>
      30 golpes, amar no es participar<br/>
      31, las mentiras duelen más<br/>
      13 veces y el tablero rompe por detrás<br/>
    </p>
    <p>
      tú jugabas y en tus manos el fuego cantaba<br/>
      que este es el final<br/>
      del juego<br/>
    </p>
    <p>
      Bingo...
    </p>
    <p>
      Bingo suena, bingo de tu amor
      Bingo juegas, al caballo ganador
      Bingo, suena la suerte de esta canción
    </p>
  </div>
</div>
<div class="span-24" style="margin-top: 3em; text-align: center;">
  <div class="span-12 hoverable">
    <%= link_to image_tag('aventuras/descargar.gif'), 'http://www.archive.org/download/LasBuenasNoches-AventurasDomsticas-03Bingo/03Bingo.mp3' %>
  </div>
  <div class="span-12 last">
    <embed src="http://www.archive.org/flow/FlowPlayerLight.swf" allowfullscreen="true" allowscriptaccess="always" quality="high" bgcolor="#141517" type="application/x-shockwave-flash" pluginspage="http://www.adobe.com/go/getflashplayer" flashvars="config={&quot;controlBarBackgroundColor&quot;:&quot;0x141517&quot;,&quot;loop&quot;:false,&quot;baseURL&quot;:&quot;http://www.archive.org/download/&quot;,&quot;showVolumeSlider&quot;:true,&quot;controlBarGloss&quot;:&quot;none&quot;,&quot;playList&quot;:[{&quot;url&quot;:&quot;LasBuenasNoches-AventurasDomsticas-03Bingo/03Bingo.mp3&quot;}],&quot;showPlayListButtons&quot;:true,&quot;usePlayOverlay&quot;:false,&quot;menuItems&quot;:[false,false,false,false,true,true,false],&quot;initialScale&quot;:&quot;scale&quot;,&quot;autoPlay&quot;:false,&quot;autoBuffering&quot;:false,&quot;showMenu&quot;:false,&quot;showMuteVolumeButton&quot;:true,&quot;showFullScreenButton&quot;:false}&amp;" height="28px" width="350px" />
  </div>
</div>
