<div class="span-24">
  <div class="span-8">
    <%= link_to image_tag('aventuras/04todaslasescopetas.gif'), :controller => 'aventuras/cancion', :action => 'canciones' %>
  </div>
  <div class="span-8">
    <br/>
    <p>
      todas las escopetas del pueblo culpan al hombre<br/>
      mientras disparan al viento<br/>
      tu dulce nombre<br/>
    </p>
    <p>
      aquella noche estrellada mientras dormía<br/>
      iluminaba la luna nuestra huida<br/>
      en la vaguada del rio quien sabe donde<br/>
      besos y huellas rotas llevan al monte<br/>
    </p>
    <p>
      dejaste caer la ropa<br/>
      en la orilla de la ribera<br/>
      el disparo sonó en la noche<br/>
      vi tu cuerpo entre las piedras<br/>
    </p>
  </div>

  <div class="span-8 last">
    <br/>
    <p>
      entre la oscura maleza nos enterró<br/>
      todas las almas callaron, nadie lloró<br/>
      pasaron las estaciones sobre nosotros<br/>
      y en el filo de las piedras<br/>
      verde musgo floreció<br/>
    </p>
    <p>
      nuestros huesos entrelazados<br/>
      y la luna sobre la sierra<br/>
      blanca nieve caerá en el suelo<br/>
      enterrados bajo tierra<br/>
      tú y yo<br/>
    </p>
    <p>
      todas las escopetas del pueblo culpan al hombre
      mientras disparan al viento
    </p>
  </div>
</div>
<div class="span-24" style="margin-top: 3em; text-align: center;">
  <div class="span-12">
    <%= link_to image_tag('aventuras/descargar.gif'), 'http://www.archive.org/download/LasBuenasNoches-AventurasDomsticas-04TodasLasEscopetasDelPueblo/04TodasLasEscopetas.mp3' %>
  </div>
  <div class="span-12 last">
    <embed src="http://www.archive.org/flow/FlowPlayerLight.swf" allowfullscreen="true" allowscriptaccess="always" quality="high" bgcolor="#141517" type="application/x-shockwave-flash" pluginspage="http://www.adobe.com/go/getflashplayer" flashvars="config={&quot;controlBarBackgroundColor&quot;:&quot;0x141517&quot;,&quot;loop&quot;:false,&quot;baseURL&quot;:&quot;http://www.archive.org/download/&quot;,&quot;showVolumeSlider&quot;:true,&quot;controlBarGloss&quot;:&quot;none&quot;,&quot;playList&quot;:[{&quot;url&quot;:&quot;LasBuenasNoches-AventurasDomsticas-04TodasLasEscopetasDelPueblo/04TodasLasEscopetas.mp3&quot;}],&quot;showPlayListButtons&quot;:true,&quot;usePlayOverlay&quot;:false,&quot;menuItems&quot;:[false,false,false,false,true,true,false],&quot;initialScale&quot;:&quot;scale&quot;,&quot;autoPlay&quot;:false,&quot;autoBuffering&quot;:false,&quot;showMenu&quot;:false,&quot;showMuteVolumeButton&quot;:true,&quot;showFullScreenButton&quot;:false}&amp;" height="28px" width="350px" />
  </div>
</div>