<div class="span-24">
  <div class="span-7">
    <%= link_to image_tag('aventuras/05canciontruco.gif'), :controller => 'aventuras/cancion', :action => 'canciones' %>
  </div>
  <div class="span-7 last">
    <br/>
    <p>
      Te he visto en un hombre con sandalias <br/>
      Te he visto en un gajo de naranja <br/>
      Te vi otra vez, en Bucarest <br/>
      Con figura de viejo yo te vi otra vez <br/>
    </p>
    <p>
      Te vi volviendo la cabeza <br/>
      Te vi en la cima del mulhacen <br/>
      En la piscina municipal <br/>
      Empujando en la calle un palé <br/>
    </p>
    <p>
      Ubicus cubicus <br/>
      Cuando desaparecerás <br/>
      Ubicus cubicus <br/>
      A ver si va <br/>
      Digo hocus pocus <br/>
      Prométeme <br/>
      Que cuando diga ya <br/>
      No estarás más <br/>
    </p>
  </div>
  <div class="span-6 last">
    <br/>
    <p>
      Te vi en una tienda de Atenas <br/>
      A la luz de un verde neón <br/>
      Cruzando roma en moto apenas <br/>
      En el perfil de una moneda <br/>
    </p>
    <p>
      Te he visto en un falso documental <br/>
      Te he visto jugando a la petanca <br/>
      Te vi pegándole a un ingles <br/>
      En una ranchera familiar <br/>
    </p>
    <p>
      Ubicus cubicus <br/>
    </p>
    <p>
      En un arpista de la filarmónica <br/>
      Talando árboles en la gran vía <br/>
      Mi amiga Mónica te vio <br/>
      Pidiendo medidas para estanterías <br/>
    </p>
  </div>
  <div class="span-4 last">
    <br/>
    <p>
      En una guía de corfú <br/>
      Hará dos o tres días <br/>
      Te he visto durmiendo en mi sofá <br/>
      Basta ya, no puedo más <br/>
    </p>
    <p>
    Ubicus cubicus <br/>
  </div>
</div>
<div class="span-24" style="margin-top: 3em; text-align: center;">
  <div class="span-12">
    <%= link_to image_tag('aventuras/descargar.gif'), 'http://www.archive.org/download/LasBuenasNoches-AventurasDomsticas-05CancionTruco/05CancinTruco.mp3' %>
  </div>
  <div class="span-12 last">
    <embed src="http://www.archive.org/flow/FlowPlayerLight.swf" allowfullscreen="true" allowscriptaccess="always" quality="high" bgcolor="#141517" type="application/x-shockwave-flash" pluginspage="http://www.adobe.com/go/getflashplayer" flashvars="config={&quot;controlBarBackgroundColor&quot;:&quot;0x141517&quot;,&quot;loop&quot;:false,&quot;baseURL&quot;:&quot;http://www.archive.org/download/&quot;,&quot;showVolumeSlider&quot;:true,&quot;controlBarGloss&quot;:&quot;none&quot;,&quot;playList&quot;:[{&quot;url&quot;:&quot;LasBuenasNoches-AventurasDomsticas-05CancionTruco/05CancinTruco.mp3&quot;}],&quot;showPlayListButtons&quot;:true,&quot;usePlayOverlay&quot;:false,&quot;menuItems&quot;:[false,false,false,false,true,true,false],&quot;initialScale&quot;:&quot;scale&quot;,&quot;autoPlay&quot;:false,&quot;autoBuffering&quot;:false,&quot;showMenu&quot;:false,&quot;showMuteVolumeButton&quot;:true,&quot;showFullScreenButton&quot;:false}&amp;" height="28px" width="350px"></embed>
  </div>
</div>
