<div class="span-24">
  <div class="span-8">
    <%= link_to image_tag('aventuras/06elmalcamino.gif'), :controller => 'aventuras/cancion', :action => 'canciones' %>
  </div>
  <div class="span-8">
    <br/>
    <p>
      Este es el fuego que todo quema<br/>
      Esta es la furia de la pasión<br/>
      Este es el ritmo<br/>
      Que arde en el fondo del corazón<br/>
    </p>
    <p>
      Este es el fuego que todo quema<br/>
      Arde la cima de la ciudad<br/>
      Y en el incendio<br/>
      Solo en el centro te salvarás<br/>
    </p>
    <p>
      Fuego<br/>
      Fuego<br/>
      Ardes como en el fuego<br/>
      Que ilumina el camino a la perdición<br/>
    </p>
  </div>
  <div class="span-8 last">
    <br/>
    <p>
      Esta es la noche de la tormenta<br/>
      Todas las hadas quieren bailar<br/>
      Mañana al alba<br/>
      nada de esto recordarás<br/>
    </p>
    <p>
      Aquí está el filo de tu deseo<br/>
      como la aguja del escorpión<br/>
      tu madre dice<br/>
      es el camino a la perdición<br/>
    </p>
    <p>
      Fuego<br/>
      Fuego<br/>
      Ardes como en el fuego<br/>
      Que ilumina el camino<br/>
    </p>
  </div>
</div>
<div class="span-24" style="margin-top: 3em; text-align: center;">
  <div class="span-12">
    <%= link_to image_tag('aventuras/descargar.gif'), 'http://www.archive.org/download/LasBuenasNoches-AventurasDomsticas-06ElMalCamino/06ElMalCamino.mp3' %>
  </div>
  <div class="span-12 last">
    <embed src="http://www.archive.org/flow/FlowPlayerLight.swf" allowfullscreen="true" allowscriptaccess="always" quality="high" bgcolor="#141517" type="application/x-shockwave-flash" pluginspage="http://www.adobe.com/go/getflashplayer" flashvars="config={&quot;controlBarBackgroundColor&quot;:&quot;0x141517&quot;,&quot;loop&quot;:false,&quot;baseURL&quot;:&quot;http://www.archive.org/download/&quot;,&quot;showVolumeSlider&quot;:true,&quot;controlBarGloss&quot;:&quot;none&quot;,&quot;playList&quot;:[{&quot;url&quot;:&quot;LasBuenasNoches-AventurasDomsticas-06ElMalCamino/06ElMalCamino.mp3&quot;}],&quot;showPlayListButtons&quot;:true,&quot;usePlayOverlay&quot;:false,&quot;menuItems&quot;:[false,false,false,false,true,true,false],&quot;initialScale&quot;:&quot;scale&quot;,&quot;autoPlay&quot;:false,&quot;autoBuffering&quot;:false,&quot;showMenu&quot;:false,&quot;showMuteVolumeButton&quot;:true,&quot;showFullScreenButton&quot;:false}&amp;" height="28px" width="350px" />
  </div>
</div>
