<div class="span-24">
  <div class="span-7">
    <%= link_to image_tag('aventuras/07aventurasdomesticas.gif'), :controller => 'aventuras/cancion', :action => 'canciones' %>
  </div>
  <div class="span-8">
    <br/>
    <p>
      Llevo más de 12 horas mirando a las esquina<br/>
      Allá arriba en lo alto de mi habitación.<br/>
      paredes vacías voy siguiendo hasta arriba<br/>
      Su encuentro con el techo capta toda mi atención.<br/>
    </p>
    <p>
      Es un punto impreciso que me calma y me intriga<br/>
      Que me llena de gozo, que me da la impresión<br/>
      De que si fijo mi mente en su cruce de aristas<br/>
      Traspasaré los umbrales de la percepción.<br/>
    </p>
    <p>
      Tumbado en la cama<br/>
      Lo veo todo sin hacer nada.<br/>
    </p>
  </div>
  <div class="span-4 last">
    <br/>
    <p>
      Y a través del techo<br/>
      Sin ningún temor<br/>
      Ya nada me queda<br/>
      solo mi edredón<br/>
      palmeras doradas<br/>
      y lirios en flor<br/>
      los astros se esconden<br/>
      tras mi resplandor<br/>
      un mundo en mi cama<br/>
      escucho mi voz<br/>
      si es este mi reino<br/>
      aquí yo soy dios<br/>
    </p>
  </div>
  <div class="span-5 last">
    <br/>
    <p>
      Tumbado en la cama<br/>
      Lo veo todo sin hacer nada.<br/>
    </p>
    <p>
      Tumbado en la cama mi vida<br/>
      Tumbado en la cama<br/>
    </p>
  </div>
</div>
<div class="span-24" style="margin-top: 3em; text-align: center;">
  <div class="span-12">
    <%= link_to image_tag('aventuras/descargar.gif'), 'http://www.archive.org/download/LasBuenasNoches-AventurasDomsticas-07AventurasDomesticas/07AventurasDomesticas.mp3' %>
  </div>
  <div class="span-12 last">
    <embed src="http://www.archive.org/flow/FlowPlayerLight.swf" allowfullscreen="true" allowscriptaccess="always" quality="high" bgcolor="#141517" type="application/x-shockwave-flash" pluginspage="http://www.adobe.com/go/getflashplayer" flashvars="config={&quot;controlBarBackgroundColor&quot;:&quot;0x141517&quot;,&quot;loop&quot;:false,&quot;baseURL&quot;:&quot;http://www.archive.org/download/&quot;,&quot;showVolumeSlider&quot;:true,&quot;controlBarGloss&quot;:&quot;none&quot;,&quot;playList&quot;:[{&quot;url&quot;:&quot;LasBuenasNoches-AventurasDomsticas-07AventurasDomesticas/07AventurasDomesticas.mp3&quot;}],&quot;showPlayListButtons&quot;:true,&quot;usePlayOverlay&quot;:false,&quot;menuItems&quot;:[false,false,false,false,true,true,false],&quot;initialScale&quot;:&quot;scale&quot;,&quot;autoPlay&quot;:false,&quot;autoBuffering&quot;:false,&quot;showMenu&quot;:false,&quot;showMuteVolumeButton&quot;:true,&quot;showFullScreenButton&quot;:false}&amp;" height="28px" width="350px" />
  </div>
</div>
