<div class="span-24">
<div class="span-8">
  <%= link_to image_tag('aventuras/10eldiosinsecto.gif'), :controller => 'aventuras/cancion', :action => 'canciones' %>
</div>
<div class="span-8">
  <br/>
  <p>
    La trágica historia termina en desastre <br/>
    Quien sabe en el fondo lo que pasó <br/>
    Marina jugaba en el fondo del parque <br/>
    En la tenue sombra del sauce llorón <br/>
  </p>
  <p>
    Un sordo crujido las ruedas pararon <br/>
    Y en el carruaje un ojo brilló <br/>
    Dos extraños brazos un dulce mostraros <br/>
    La amarga canela marina probó <br/>
  </p>
  <p>
    La tata fue hallada en unos rosales <br/>
    Los ojos perdidos con cara de horror <br/>
    “los oigo moverse encima del techo” <br/>
    dijo sin sentido y apenas sin voz <br/>
  </p>
  <p>
    las autoridades hicieron pesquisas <br/>
    la madre tomaba su té en el salón <br/>
    oh que gran apuro para la familia <br/>
    perder una niña con su situación <br/>
  </p>

</div>
<div class="span-8 last">
  <br/>
  <p>
    con la ultima luz del ultimo día <br/>
    ciudades y aldeas el coche dejó <br/>
    y aquellos que entonces en calma dormían <br/>
    yacieron en vela con gran desazón <br/>
  </p>
  <p>
    tras horas de viaje el coche paraba <br/>
    en un alto muro con un gran portón <br/>
    un arco de piedra tallado de llaves <br/>
    guardaba la entrada de aquella mansión <br/>
  </p>
  <p>
    cortinas roídas y espejos de cera <br/>
    zumbidos y brincos vibraban a son <br/>
    las velas oscuras casi iluminaban <br/>
    aquel inquietante y terrible salón <br/>
  </p>
  <p>
    envuelta en un manto marina yacía <br/>
    los bichos callaron con gran atención <br/>
    y así la pequeña fue sacrificada <br/>
    en medio del bosque al INSECTO DIOS <br/>
    en medio del bosque al INSECTO DIOS <br/>
  </p>
</div>
</div>
<div class="span-24" style="margin-top: 3em; text-align: center;">
  <div class="span-12">
    <%= link_to image_tag('aventuras/descargar.gif'), 'http://www.archive.org/download/LasBuenasNoches-AventurasDomsticas-10ElDiosInsecto/10ElDiosInsecto.mp3' %>
  </div>
  <div class="span-12 last">
    <embed src="http://www.archive.org/flow/FlowPlayerLight.swf" allowfullscreen="true" allowscriptaccess="always" quality="high" bgcolor="#141517" type="application/x-shockwave-flash" pluginspage="http://www.adobe.com/go/getflashplayer" flashvars="config={&quot;controlBarBackgroundColor&quot;:&quot;0x141517&quot;,&quot;loop&quot;:false,&quot;baseURL&quot;:&quot;http://www.archive.org/download/&quot;,&quot;showVolumeSlider&quot;:true,&quot;controlBarGloss&quot;:&quot;none&quot;,&quot;playList&quot;:[{&quot;url&quot;:&quot;LasBuenasNoches-AventurasDomsticas-10ElDiosInsecto/10ElDiosInsecto.mp3&quot;}],&quot;showPlayListButtons&quot;:true,&quot;usePlayOverlay&quot;:false,&quot;menuItems&quot;:[false,false,false,false,true,true,false],&quot;initialScale&quot;:&quot;scale&quot;,&quot;autoPlay&quot;:false,&quot;autoBuffering&quot;:false,&quot;showMenu&quot;:false,&quot;showMuteVolumeButton&quot;:true,&quot;showFullScreenButton&quot;:false}&amp;" height="28px" width="350px" />
  </div>
</div>
