<div class="span-24">
  <div class="span-8">
    <%= link_to image_tag('aventuras/11elsastre.gif'), :controller => 'aventuras/cancion', :action => 'canciones' %>
  </div>
  <div class="span-8">
    <br/>
    <p>
      tijeras sin afilar <br/>
      costuras que abren el mar <br/>
      agujas hechas de sal <br/>
      y el traje sin terminar<br/>
    </p>
    <p>
      lo que yo te di lo perdiste <br/>
      hilo de mi amor no quisiste <br/>
      y el vestido para ti <br/>
      se descose <br/>
    </p>
    <p>
      no hay patrón que te dibuje <br/>
    </p>

  </div>
  <div class="span-8 last">
    <br/>
  </div>
</div>
<div class="span-24" style="margin-top: 3em; text-align: center;">
  <div class="span-12">
    <%= link_to image_tag('aventuras/descargar.gif'), 'http://www.archive.org/download/LasBuenasNoches-AventurasDomsticas-11ElSastre/11ElSastre.mp3' %>
  </div>
  <div class="span-12 last">
    <embed src="http://www.archive.org/flow/FlowPlayerLight.swf" allowfullscreen="true" allowscriptaccess="always" quality="high" bgcolor="#141517" type="application/x-shockwave-flash" pluginspage="http://www.adobe.com/go/getflashplayer" flashvars="config={&quot;controlBarBackgroundColor&quot;:&quot;0x141517&quot;,&quot;loop&quot;:false,&quot;baseURL&quot;:&quot;http://www.archive.org/download/&quot;,&quot;showVolumeSlider&quot;:true,&quot;controlBarGloss&quot;:&quot;none&quot;,&quot;playList&quot;:[{&quot;url&quot;:&quot;LasBuenasNoches-AventurasDomsticas-11ElSastre/11ElSastre.mp3&quot;}],&quot;showPlayListButtons&quot;:true,&quot;usePlayOverlay&quot;:false,&quot;menuItems&quot;:[false,false,false,false,true,true,false],&quot;initialScale&quot;:&quot;scale&quot;,&quot;autoPlay&quot;:false,&quot;autoBuffering&quot;:false,&quot;showMenu&quot;:false,&quot;showMuteVolumeButton&quot;:true,&quot;showFullScreenButton&quot;:false}&amp;" height="28px" width="350px"/>
  </div>
</div>