<div class="span-24">
  <div class="span-8">
    <%= link_to image_tag('aventuras/12laviejaguarderia.gif'), :controller => 'aventuras/cancion', :action => 'canciones' %>
  </div>
  <div class="span-8">
    <br/>
    <p>
      en la vieja guardería hay un perro suelto<br/>
      pero cuando alguien mira<br/>
      siempre se hace el muerto<br/>
    </p>
    <p>
      ves la tapia, ves la silla dijo el niño tuerto<br/>
      yo ahí veo maravillas<br/>
      cuando estoy despierto<br/>
    </p>
    <p>
      en la vieja guardería donde me recuerdo<br/>
      todo es un galimatías<br/>
    </p>
    <p>
      por esa larga avenida que conduce al puerto<br/>
      caminé yo muchos días<br/>
      como en un desierto<br/>
    </p>
    <p>
      Miro el río en la crecida, <br/>
      Agua turbia y cieno<br/>
      Te dije que eras mi vida<br/>
      Debo de estar muerto<br/>
    </p>
  </div>
  <div class="span-8 last">
    <br/>
    <p>
      Nunca se cura una herida<br/>
      si va prendida a tu piel<br/>
      La lección tengo aprendida<br/>
      recuerdo<br/>
      que la olvidé.<br/>
    </p>
    <p>
      En mi pueblo,<br/>
      Don Benito sólo hay dos rotondas<br/>
      Una de ellas circular<br/>
      y la otra es redonda<br/>
    </p>
    <p>
      En la frontera del pueblo hay un bar de carretera<br/>
      Allí bebe una mujer Que a la suerte espera<br/>
    </p>
    <p>
      Y en la vida todo gira para estarse quieto<br/>
      Hazte a un lado en una silla<br/>
      este es el secreto<br/>
    </p>
  </div>
</div>
<div class="span-24" style="margin-top: 3em; text-align: center;">
  <div class="span-12">
    <%= link_to image_tag('aventuras/descargar.gif'), 'http://www.archive.org/download/LasBuenasNoches-AventurasDomsticas-12LaViejaGuarderia/12LaViejaGuardera.mp3' %>
  </div>
  <div class="span-12 last">
    <embed src="http://www.archive.org/flow/FlowPlayerLight.swf" allowfullscreen="true" allowscriptaccess="always" quality="high" bgcolor="#141517" type="application/x-shockwave-flash" pluginspage="http://www.adobe.com/go/getflashplayer" flashvars="config={&quot;controlBarBackgroundColor&quot;:&quot;0x141517&quot;,&quot;loop&quot;:false,&quot;baseURL&quot;:&quot;http://www.archive.org/download/&quot;,&quot;showVolumeSlider&quot;:true,&quot;controlBarGloss&quot;:&quot;none&quot;,&quot;playList&quot;:[{&quot;url&quot;:&quot;LasBuenasNoches-AventurasDomsticas-12LaViejaGuarderia/12LaViejaGuardera.mp3&quot;}],&quot;showPlayListButtons&quot;:true,&quot;usePlayOverlay&quot;:false,&quot;menuItems&quot;:[false,false,false,false,true,true,false],&quot;initialScale&quot;:&quot;scale&quot;,&quot;autoPlay&quot;:false,&quot;autoBuffering&quot;:false,&quot;showMenu&quot;:false,&quot;showMuteVolumeButton&quot;:true,&quot;showFullScreenButton&quot;:false}&amp;" height="28px" width="350px" />
  </div>
</div>
