<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="content-type" content="text/html; charset=utf-8" />
  <title>Las buenas noches</title>
  <style type="text/css">
    img {border: 0; margin-top: 70px;}
    body { background-color: black; text-align: center;}
    .conciertos {margin-top: 2em; color: #aaa;}
    .conciertos a {color: gray; text-decoration: none;}
    .conciertos h2 {font-size: 120%; margin: 0 0 0.3em 0;}
    .conciertos h2 a {color: #aaa;}
  </style>
</head>
<body>
  <%= link_to image_tag('marco_lasbuenasnoches.jpg', :size => '898x480'), :action => 'canciones'  %>
  <div class="conciertos">
  <h2><a href="/aventuras#conciertos">Pr칩ximos conciertos</a></h2>
    <b>Madrid - S치bado 18 de Abril - 22h</b><br/>
    <a href="http://www.teatrostudio.com/">Teatro "La Galera"</a> (c/Santo Tom치s s/n. Alcal치 de Henares)<br/><br/>
    <b>Sevilla - Viernes 24 de Abril - 21:30h</b><br/>
    <a href="http://malandar.net/informacion/">Sala Malandar</a> (C/ Torneo, 43)<br/>
  </div><br/>
  <%= render :partial => '/layouts/ga' %>
</body>