<div class="span-24" style="text-align: center">
  <%= image_tag('aventuras/creditos.gif')  %>
</div>
<div class="span-24 last" style="text-align: center; margin: 1em 0 2em 0;">
<a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/2.5/es/">
  <img alt="Creative Commons License" style="border-width:0" src="http://i.creativecommons.org/l/by-nc-sa/2.5/es/88x31.png" /></a>
  <br />La música, las imágenes y el material de esta web tiene licencia:<br/> 
  <a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/2.5/es/" style="color: white" target="_blank">
    Creative Commons Attribution-Noncommercial-Share Alike 2.5 Spain License</a>.
</div>